cloned_repos/  
utils/utils.py  
src/debug.py
venv/
my_repos/
src/__pycache__/
my_repos_info.json
loc_reports/*
commits_reports/*
markdown_reports/*
branches.txt
commit_messages.txt
node_modules/*
flake8_report.txt
.vscode/
setup.cfg
